@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground: 0 0% 100%;
  --background: 0 0% 0%;
  --border: 0 0% 100%;
}

body {
  color: rgb(var(--foreground));
  background: rgb(var(--background));
}

/* Animations */
.animate-fade-in-up {
  opacity: 0;
  animation: fadeInUp 1s ease-out forwards;
}

.animate-fade-in-up.delay-200 {
  animation-delay: 200ms;
}

.animate-fade-in-up.delay-400 {
  animation-delay: 400ms;
}

.animate-fade-in-up.delay-600 {
  animation-delay: 600ms;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

